<!-- POPIN COMPONENT -->
<div class="popin">
    <div class="popin__content popin__content--{{name}}">
        <h2>{{name}}</h2>
        <div class="popin__content__close">
            <div class="popin__content__cross1"></div>
            <div class="popin__content__cross2"></div>
        </div>
        <div class="popin__content__infos">
            <div class="popin__content__row">
                <div class="popin__content__label">Date</div>
                <div class="popin__content__value">{{date}}</div>
            </div>
            <div class="popin__content__row">
                <div class="popin__content__label">Score</div>
                <div class="popin__content__value">{{score}} pts</div>
            </div>
            <div class="popin__content__row popin__content__row--padding-top">
                <div class="popin__content__label">Scores</div>
                <div class="popin__content__value">&nbsp;</div>
            </div>
        </div>

        <div class="popin__content__scroll">
            <div class="popin__content__infos"></div>
        </div>
    </div>
</div>